* {
  margin: 0;
  padding: 0;
}
.visible-s-track > button > .material-icons {
  font-size: 20px;
  color: #fff;
}

button {
  background-color: transparent;
  border: none;
}
.track-container {
  margin-top: 60px;
}
.play-row {
  display: flex;
  gap: 10px;
  align-items: center;
}
.visible-s-track {
  display: flex;
  justify-content: space-between;
  padding: 15px 24px;
  max-height: 900px;
  background-color: #2d303e;
  color: #fff;
  font-family: Roboto;
  align-items: center;
  border-color: transparent;
  border-bottom: 1px solid rgba(109, 108, 112, 0.309);
  width: 700px;
}
.image {
  width: 60px;
  height: 60px;
  border: 0.5px solid #fff;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}
@media screen and (max-width: 768px) {
  .visible-s-track {
    width: 400px;
  }
}
