#root {
  background-color: #2d303eaa;
  display: flex;
  justify-content: space-between;
  gap: 0;

}
@media screen and (max-width: 768px) {
  #root {
    flex-direction: column;
    justify-content: center;
    gap: 2rem;
  }
}
